body {
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: larger;
}

.page-container {
    display: flex;
    width: 580px;
    padding: 0 185px 80px 0;
    border: 3px solid #100C08;
    background-image: url("img/faded-office.png");
    background-size: 800px;
    border-radius: 5px;
    margin: 200px auto;
    transform: scale(1.7);
}

#title {
    font-weight: 800;
}

#underline {
    border-bottom: 4px solid #0ea5e9;
}

.left-side {
    width: 240px;
    padding: 30px 40px;
    margin: 0 0 0 10px;
}


.chat-button {
    background-color: #0ea5e9;
    padding: 15px 25px;
    font-weight: 700;
    color: #F2F3F4;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}